.dropdown-widget {
    width: 320px;
    margin-bottom: 20px;

    &__details {
        border: 1px solid var(--color-dark-25);
        border-radius: 4px;
        color: var(--color-dark-75);
        font-size: 14px;
        line-height: 18px;
        
        .dropdown-widget__summary {
            display: flex;
            list-style: none;        
            
            span {
                padding: 13px 15px;
            }

            &::after {
                content: 'A';
                display: flex;
                width: 44px;
                height: 44px;
                margin-left: auto;
                justify-content: center;
                align-items: center;
                background-color: coral;
            }
        }

        &[open] {
            border-color: var(--color-dark-50);
            .dropdown-widget__summary {
                border-bottom: 1px solid var(--color-dark-50);
            }
        
        }
    }
}