mixin dropdown-widget(data)
    include ../field-header/field-header
    include ../dropdown-item/dropdown-item
    -var comment= data.isOpen ? "Expanded" : "Default"

    .dropdown-widget
        +field-header(data.header, comment)
        details.dropdown-widget__details(open=data.isOpen)
            summary.dropdown-widget__summary(data-plural= data.valuePlural)
                //- span= items[0]
                span= data.placeholder
            .dropdown-widget__inputs
                each item in data.items
                    +dropdown-item(item)
                if data.withBtns
                    .dropdown-widget__btns
                        button Очистить
                        button Применить
