html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(description="UI-Kit project")
        title UI-Kit
        link(rel="stylesheet", href="main.scss")
    body
        include includes/uikit-header/header.pug
    .blocks-wrapper
        include includes/blocks/colors-palette/colors-palette
        include includes/blocks/fonts-palette/fonts-palette
    .blocks-wrapper
        include includes/blocks/text-input/text-input
        include includes/blocks/guest-dropdown/guest-dropdown
        .form-el-coloumn
            +text-input('Text field', 'id-email', 'email', 'Email', 'default')
            +text-input('Text field', 'id-text', 'text', 'hover / focus', 'This is pretty awesome', 'This is pretty awesome', true)
            +guest-dropdown(3, 2, 1)
            +guest-dropdown(4, 3, 2, true)
        .form-el-coloumn
        .form-el-coloumn