html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(description="UI-Kit project")
        title UI-Kit
        link(rel="stylesheet", href="main.scss")
    body
        include includes/uikit-header/header.pug
    .blocks-wrapper
        include includes/blocks/colors-palette/colors-palette
        include includes/blocks/fonts-palette/fonts-palette
    .blocks-wrapper
        include includes/blocks/text-input/text-input
        include includes/blocks/dropdown-widget/dropdown-widget
        .form-el-coloumn
            +text-input('Text field', 'id-email', 'email', 'Email', 'default')
            +text-input('Text field', 'id-text', 'text', 'hover / focus', 'This is pretty awesome', 'This is pretty awesome', true)
            +dropdown-widget(["2 спальни, 2 кровати...", {"Спальни": 1, "Кровати": 2, "Ванные комнаты": 1}])
            +dropdown-widget(["2 спальни, 2 кровати...", {"Спальни": 4, "Кровати": 3, "Ванные комнаты": 2}], true)
            +dropdown-widget(["Сколько гостей", {"Взрослые": 0, "Дети": 0, "Младенцы": 0}], true)
            +dropdown-widget(["3 гостя", {"Взрослые": 2, "Дети": 1, "Младенцы": 0}, true], true)
        .form-el-coloumn
        .form-el-coloumn